body{
    background-image: url(./Images/bg-cricket.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    margin: 0;
  
  }

.navbar {
    position: fixed;
    background: linear-gradient(90deg, #292983, #a81969);
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: x-large;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    
  }
  
li {
    float: left;
}
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover{
    background-color: #04AA6D;
  }
  